# Importing Libraries

In [108]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [109]:
data = pd.read_csv('New Text Document.csv')

In [110]:
data.head(1)

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,1.237650e+18,242.568983,0.75012,19.05989,17.49459,16.59285,16.09412,15.70741,745,301,5,560,3.885580e+17,GALAXY,0.044277,345,51690,447

# Data Preprocessing

In [111]:
data.drop(data.columns[[0,1,2,8,9,10,11,12]], axis=1, inplace=True)

In [112]:
data.head(1)

,u,g,r,i,z,class,redshift,plate,mjd,fiberid
0,19.05989,17.49459,16.59285,16.09412,15.70741,GALAXY,0.044277,345,51690,447

In [113]:
data.drop(data.columns[[6,7,8,9]], axis=1, inplace=True)

In [114]:
data[data['i'] > -200]
data[data['z'] > -200]

               u         g         r         i         z   class
0       19.05989  17.49459  16.59285  16.09412  15.70741  GALAXY
1       19.45567  18.33084  17.67185  17.30189  17.13650  GALAXY
2       18.27065  18.08745  18.08966  18.22180  18.37045     QSO
3       18.94490  17.45382  16.71061  16.26543  15.94860  GALAXY
4       18.26457  16.76603  16.19773  15.99331  15.90720    STAR
5       18.84868  16.86433  15.90334  15.42890  15.08823  GALAXY
6       19.43880  18.36549  17.84352  17.62595  17.54450    STAR
7       19.37425  17.76414  17.10439  16.85696  16.71100    STAR
8       17.88025  17.73751  18.04885  18.32398  18.52942    STAR
9       19.03113  17.93515  17.49739  17.15799  16.99095  GALAXY
10      19.34175  18.33376  17.95975  17.67543  17.54168  GALAXY
11      19.20547  18.21573  17.73127  17.42313  17.32267  GALAXY
12      18.44517  17.24542  17.10835  17.09101  17.13442    STAR
13      18.62963  16.91113  16.21830  15.97996  15.83835    STAR
14      18.73878  17.51475  17.05004  16.84725  16.77919    STAR
15      16.62952  14.88339  14.55241  14.57238  15.26632  GALAXY
16      17.24598  15.93616  15.44045  15.25684  15.18487    STAR
17      18.98141  17.65929  17.21067  17.04889  17.00209    STAR
18      19.16411  17.27371  16.31466  15.78471  15.44008  GALAXY
19      18.71818  17.39557  16.87677  16.71544  16.62775    STAR
20      19.30350  17.90728  17.25062  16.85490  16.58678  GALAXY
21      18.81831  17.68695  17.54415  17.54516  17.60621    STAR
22      18.31649  17.11621  16.60212  16.44939  16.38380    STAR
23      18.17672  17.01050  16.41779  16.03847  15.84439  GALAXY
24      18.87921  17.12427  16.25532  15.85055  15.55597  GALAXY
25      18.95872  17.04945  16.16656  15.71334  15.41194  GALAXY
26      18.89983  17.45141  16.81735  16.60699  16.46253    STAR
27      19.08604  17.34755  16.35862  15.84222  15.47503  GALAXY
28      18.97039  18.81752  18.68532  18.60291  18.33350     QSO
29      19.09687  17.18067  16.23233  15.81135  15.49600  GALAXY
...          ...       ...       ...       ...       ...     ...
499970  17.82531  16.05176  15.20068  14.78909  14.46594  GALAXY
499971  18.86337  17.37860  16.46882  15.92749  15.55472  GALAXY
499972  19.25006  17.96285  17.33656  16.99463  16.71178  GALAXY
499973  18.93172  18.02538  17.45272  17.01181  16.76630  GALAXY
499974  19.57897  18.71716  18.29935  18.05411  17.97670  GALAXY
499975  18.03049  16.64616  15.94447  15.56295  15.27652  GALAXY
499976  18.95551  17.26273  16.45864  16.06700  15.77411  GALAXY
499977  18.90054  17.46412  17.00567  16.64863  16.48117  GALAXY
499978  17.60430  16.48509  16.11953  15.91252  15.85446  GALAXY
499979  18.61886  16.90519  16.00957  15.59416  15.20120  GALAXY
499980  19.07203  18.50355  18.24000  18.21894  18.12175     QSO
499981  19.53868  18.15689  17.54798  17.19483  16.98530  GALAXY
499982  19.45609  19.32263  19.24986  18.98923  18.91439     QSO
499983  19.07372  18.04145  17.39985  17.02994  16.81062  GALAXY
499984  19.01428  17.13976  16.11478  15.63975  15.24344  GALAXY
499985  18.78449  17.02557  16.09566  15.68379  15.35543  GALAXY
499986  19.19143  18.03955  17.50952  17.23531  17.03402  GALAXY
499987  18.57335  18.35490  18.32511  18.38922  18.20812     QSO
499988  19.57250  18.25274  17.73394  17.36947  17.20335  GALAXY
499989  19.43531  17.53491  16.59192  16.16469  15.84496  GALAXY
499990  18.89643  17.47071  16.88147  16.65541  16.53781    STAR
499991  19.52056  17.54191  16.36136  15.86862  15.49105  GALAXY
499992  17.95698  16.33865  15.67617  15.40413  15.27109    STAR
499993  19.07541  16.60918  15.64256  15.30070  15.13256    STAR
499994  17.35504  15.53525  14.72662  14.33282  14.06379  GALAXY
499995  18.96836  17.32873  16.48102  15.98196  15.63491  GALAXY
499996  18.00649  16.45442  15.83506  15.61025  15.46043    STAR
499997  18.31123  17.24955  16.76237  16.55457  16.44842    STAR
499998  18.54049  17.07246  16.52143  16.31161  16.21008    STAR
499999  19.29351  17.64427  16.91061  16.60851  16.42730    STAR

[499996 rows x 6 columns]

In [115]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(["GALAXY", "QSO", "STAR"])
le.transform(["GALAXY", "QSO", "STAR"])

array([0, 1, 2], dtype=int64)

In [116]:
data['class'] = le.fit_transform(data['class'])

In [117]:
target = data['class']
features = data.drop('class', 1)

In [118]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.50, random_state=42)

Training and testing split was successful.

## Suppor Vector

In [119]:
from sklearn.svm import SVC
clf = SVC()

In [130]:
clf.fit(X_train[:30000],y_train[:30000])

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [131]:
y_test.shape

(250000L,)

In [132]:
clf.predict(X_test)

array([2, 1, 1, ..., 0, 0, 2], dtype=int64)

In [129]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,clf.predict(X_test))

0.933168

## Random Forest

In [138]:
from sklearn.ensemble import RandomForestClassifier
clfR = RandomForestClassifier()

In [141]:
clfR.fit(X_train[:40000],y_train[:40000])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [142]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,clfR.predict(X_test))

0.94208000000000003